@{
  ViewData["Title"] = "首页";
}
<div class="table-wraper">
    <div class="table-header">
        <h3 class="table-title">@ViewData["Title"]</h3>
    </div>
    <div class="table-body" id="div_main">
        <nav>
            <ul class="list-group">
                <li class="list-group-item">@Html.ActionLink("我的账户", "Index", "Account")</li>
                <li class="list-group-item">@Html.ActionLink("账单类型", "Index", "BillTypes")</li>
                <li class="list-group-item">@Html.ActionLink("账单管理", "Index", "Bills")</li>
            </ul>
        </nav>
        <div id="div_stat">
            <section id="sec_bill_pay_summary" style="width: 800px;height: 400px"></section>
            <section id="sec_billPayType_summary" style="width: 800px;height: 400px"></section>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.bootcss.com/echarts/3.6.2/echarts.min.js"></script>
    <script src="~/js/echartHelper.js"></script>
    <script>
        // bill_pay_summary
        loadChart('@Url.Action("BillPaySummary")',
            'sec_bill_pay_summary',
            'pie',
            '账单支付统计');
        // billPayType_summary
        loadChart('@Url.Action("BillPayTypeSummary")',
            'sec_billPayType_summary',
            'pie',
            '账单类型统计');

    </script>
}
